.container-register {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.logo  {
 margin-right: 100px;
  
}

.content-register {
  max-width: 700px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background: var(--color-background);
  border-radius: 10px;
}

.form-content {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.form-content input {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.form-content button {
  margin-top: 14px;
  padding: 10px;
  width: 100%;
  border:none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  background:var(--color-primary); ;
}

.form-content > h1 {
  color: var( --color-text-base);
  font-weight: bold;
}

.link-go-back {
  text-align: center;
  margin-top: 20px;
  color:var(--color-primary);
  font-weight: bold;
}

.link-go-back:hover {
  text-decoration: none !important;
  color:var(--color-primary);
}







