a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-bar-menu > img {
  height: 50px;
}

.text-nav {
  color: var( --color-title-in-primary) !important;
}

#nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#nav-bar > button{
  padding: 10px;
  padding: 0 20px 0 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background: #0295fe;
  color:#fff;
} 